body{
  background-color: #FFFFFF;
}
h1{
  text-align: center;
  padding-top: 50px;
  font-size: 45px;
  font-family: cursive;;
}

.panel-heading{
    background-color: #B4DF1E;
}

.student_buttons{
  text-align: center;
}

.btn{
  font-family: fantasy;;
}

#studentProfile{
  align-content: stretch;
}

.studentData{
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
}

#displayInline{
  margin-left: 15em;
  align-content: space-between;
  display: inline-flex;
  font-family: fantasy;
  padding-bottom: 50px;

}
#studentNumber{
width: 400px;
margin: 20px auto 0;
border-radius: 8px;
text-align: center;
font-size: 19px;
font-family: fantasy;
}
